@import url('https://fonts.googleapis.com/css2?family=Poppins:oppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


:root {
  --bodyFont: 'Poppins', sans-serif;
  --curlyLogoFont: 'Yellowtail';
  --sand: #FBD791;
  --textColor: #323232;
  --bodyBg: #d6d6d6;
  --white: #fff;
  --black: #000;
}